.example-card {
    max-width: 400px;
  }
  
  .example-card-footer {
    padding: 16px;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
    flex-wrap: wrap;
  //   height: 100%;
  }