<h2 mat-dialog-title>Serve the patient</h2>
<mat-dialog-content>
    <!-- <mat-card>
        <mat-card-title>Admit Patient</mat-card-title> -->
    <form [formGroup]="patientForm" class="margin-top">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Bed Number</mat-label>
            <mat-select formControlName="bedNumber">
                <mat-option value="">Select</mat-option>
                @for (item of beds; track $index) {
                <mat-option [value]="item">{{ item }}</mat-option>
                }

            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Patient Id</mat-label>
            <input matInput formControlName="patientId" />
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
                <mat-option value="1">Deferred</mat-option>
                <mat-option value="2">Routine</mat-option>
                <mat-option value="3">Urgent</mat-option>
                <mat-option value="4">Emergent</mat-option>
                <mat-option value="5">Immediate </mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Blood Group</mat-label>
            <mat-select formControlName="bloodGroup">
                <mat-option value="">Select</mat-option>
                @for (item of bloodGroups; track $index) {
                <mat-option [value]="item">{{ item }}</mat-option>
                }

            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Emergency Contact</mat-label>
            <input matInput formControlName="emergencyContact" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Medical History</mat-label>
            <textarea matInput formControlName="medicalHistory"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Initial Symptoms</mat-label>
            <textarea matInput formControlName="initialSymptoms"></textarea>
        </mat-form-field>

        <div formArrayName="remarks">
            <div *ngFor="let remark of remarks.controls; let i = index" [formGroupName]="i">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Served By {{remark.value.servedBy}}</mat-label>
                    <textarea matInput formControlName="note"></textarea>
                    <mat-hint>{{remark.value.servedAt}}</mat-hint>
                </mat-form-field>
            </div>
        </div>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Give your remarks</mat-label>
            <textarea matInput formControlName="remark"></textarea>
        </mat-form-field>


        <!-- <div class="form-actions">
                <button mat-raised-button color="primary" type="submit">
                </button>
            </div> -->

    </form>
    <!-- </mat-card> -->

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <!-- cdkFocusInitial => add this for initial focus not required in our case -->
    <button mat-button [mat-dialog-close]="patientForm" [disabled]="patientForm.invalid">
        Serve
    </button>
</mat-dialog-actions>