.full-width {
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

.form-actions {
  text-align: right;
}

.margin-top {
  margin-top: 0.5rem;
}

.card-container {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 5rem;
}


